body {
  font-family: sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.square {
  width: 80px;
  height: 80px;
  background-color: white;
}

.circle {
  padding: 30px;
  border-radius: 50%;
  background-color: purple;
}
.buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
